body {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: #1d2b2a;
    background-image: url(../images/stripe.png), url(../images/noise.png);
    background-repeat: repeat-x, repeat;
    background-position: 0 0%;
    background-attachment: fixed;
    font-family: Inconsolata, "Lucida Console", Monaco, Courier, monospace;
    line-height: 2em;
    color: #d4f8e3;
    text-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    -moz-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
    -webkit-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
    animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
}

.h3 {
    font-size: 22px;
    line-height: 1.3em;
    margin-top: 10px;
}

section {
    margin-bottom: 70px
}

.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding-top: 19px;
    color: #83ED86;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.typed {
    white-space: pre;
}

.typed:after {
    visibility: visible;
    content: '';
    background-color: #d4f8e3;
    display: inline-block;
    position: relative;
    width: 0.5em;
    height: 1em;
    top: 5px;
    margin-left: 5px;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}

.typed-cursor {
    display: none;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    to {
        background-color: #223332;
    }
}
@-webkit-keyframes blink {
    to {
        background-color: #223332;
    }
}
@keyframes blink {
    to {
        background-color: #223332;
    }
}
@-moz-keyframes skip {
    to {
        background-position: 0 100%;
    }
}
@-webkit-keyframes skip {
    to {
        background-position: 0 100%;
    }
}
@keyframes skip {
    to {
        background-position: 0 100%;
    }
}
@-moz-keyframes flicker {
    to {
        color: #bddeca;
    }
}
@-webkit-keyframes flicker {
    to {
        color: #bddeca;
    }
}
@keyframes flicker {
    to {
        color: #bddeca;
    }
}
@-moz-keyframes ready {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes ready {
    to {
        visibility: hidden;
    }
}
@keyframes ready {
    to {
        visibility: hidden;
    }
}
@media screen and (max-width: 400px) {
    #not-found body {
        font-size: 18px;
    }
}
