<div>
    <div data-ng-init="type('header', $root.messages.header, false, 30)">
        <section>
            <p class="h2">
                <span id="header" class="typed"></span>
                <span id="header-cursor" class="typed-cursor">|</span>
            </p>
        </section>
        <div class="fade" ng-show="typedFinished">
            <!--<div class="blog">-->
                <!--<a href="http://blog.dorsha.com"><p class="h3">My Blog</p></a>-->
            <!--</div>-->
            <section>
                <i class="fa fa-heart-o fa-4x"></i>
                <p class="h3">
                    I'm a software engineer from Israel, with passion for security, web development and working with customers.
                    I work at HP Software R&D.
                    I also love computer gaming, travelling, my car, and sports, watching sports... :|
                </p>
            </section>
            <section>
                <i class="fa fa-graduation-cap fa-4x"></i>
                <p class="h3">I studied Computer Science (BA) at the Interdisciplinary Center (IDC) academic institution in
                    Herzliya.</p>
            </section>
            <section>
                <i class="fa fa-lightbulb-o fa-4x"></i>
                <p class="h3">
                    I love pursuing side projects to learn new things.
                </p>
                <ul>
                    <li><a href="http://cloudslang.io" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'CloudSlang']);">CloudSlang</a></li>
                    <li><a href="http://galjames.com" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'GalJames']);">Gal James - Opera soprano</a></li>
                    <li><a href="http://iswallstreetopen.com" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'IsWallStreetOpen']);">Is Wall Street Open?</a></li>
                    <li><a href="http://solidus.herokuapp.com" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'Solidus']);">Solidus</a></li>
                    <li><a href="http://prepjob.com" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'PrepJob']);">PrepJob</a></li>
                    <li><a href="http://course.cs.tau.ac.il//secws12/projects/wombat-analysis/" target="_blank" onClick="_gaq.push(['_trackEvent', 'MyProjects', 'Wombat']);">Wombat - Innovative cryptographic voting system</a></li>
                </ul>
            </section>
            <section>
                <i class="fa fa-comments-o fa-4x"></i>
                <p class="h3">
                    My work experience is on
                    <a href="http://il.linkedin.com/in/doronsharon" target="_blank" onClick="_gaq.push(['_trackEvent', 'ContactMe', 'linkedin']);"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    and
                    <a href="https://github.com/dorsha" target="_blank" onClick="_gaq.push(['_trackEvent', 'ContactMe', 'GitHub']);"><i class="fa fa-github fa-2x"></i></a>, we can also chat via
                    <a href="mailto:doron@dorsha.com" target="_blank" onClick="_gaq.push(['_trackEvent', 'ContactMe', 'Mail']);"><i class="fa fa-envelope fa-2x"></i></a>
                    or
                    <a href="https://plus.google.com/u/0/+DoronSharon/posts" target="_blank" onClick="_gaq.push(['_trackEvent', 'ContactMe', 'GooglePlus']);"><i class="fa fa-google-plus-square fa-2x"></i></a>.
                </p>
            </section>
        </div>
    </div>
    <div class="footer fade" ng-show="typedFinished">
        <p><span class="glyphicon glyphicons-luggage"></span> Doron Sharon (dorsha)</p>
    </div>
</div>
